<div class="card card-body p-4 rounded-0 bg-dark text-white">
   <h4>Agregar el producto</h4>
   <form action="/productos/agregar" method="POST">
     <div>
        <label for="nombre">Escribe nombre:</label>
        <input type="text" name="nombre" placeholder="Name" id="nombre"
         class="form-control bg-dark text-white"/>
     </div>

     <div>
        <label for="descripcion">Descripción de producto:</label>
        <textarea name="descripcion" cols="25" rows="5" placeholder="Descripcion"
         class="form-control bg-dark text-white"></textarea>
     </div>

     <div>
        <label for="precio">Escribe precio:</label>
        <input type="text" name="precio" placeholder="Price" id="precio"
         class="form-control bg-dark text-white"/>
     </div>
     <button class="btn btn-success btn-sm mt-2">Agregar</button>
</form>
</div>